@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300;400;500;600;700&display=swap');



/*******************RESETTING DEFAULT*******************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Comfortaa', sans-serif
}
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-image: url(https://images.unsplash.com/photo-1510074232337-05d50fa189ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size:cover;
}

img {
    width: 100%;
    margin-bottom: -4px;

}

:root {

    --primary-color: #007FFF;
    --background-color: #001933;
    --secondary-color: #CCE5FF;
    --accent-color: #003366;
    --filler-color: #66B2FF;
    --visited-color: #666;

}




/* TEXT ELEMENTS *******************************/

h1 {
    font-family: 'Bebas Neue', sans-serif;
}
h2 {
    font-family: 'Bebas Neue', sans-serif;
}

h3 {
    font-family: 'Comfortaa', sans-serif;
}

h4 {
    font-family: 'Comfortaa', sans-serif;
}

p {
    font-family: 'Comfortaa', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    background-color: var(--primary-color);
    border-radius: 7.5px;
    color: white;
    padding: .1em .5em;
}


/* GRIDS *******************/
.grid-2by {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-3by {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-4by {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-2byr {
    display: grid;
    grid-template-rows: auto 1fr;
}

.grid-3byr {
    display: grid;
    grid-template-rows: auto auto auto;
}

.grid-4byr {
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr;
}

.grid-gap {
    grid-gap: 50px;
}

.full-height {
    height: 100%;
}

/*NAV BAR*/
nav {
    background-color: white;
    display: grid;
    grid-template-columns: auto 1fr;
}

#nav{
    text-decoration: none;
    font-weight: bolder;
    list-style: none;
    display: flex;
    justify-content: right;
    margin-right: 1em;
}

#logo-nav {
    display: flex;
    align-items: center;
    padding: .5em;
}

#logo-nav a {
    text-decoration: none;
}

#logo-nav img {
    height: 35px;    
}

footer h1, nav h1 {
    display: block;
    font-size: 15px;
    color: var(--primary-color);
    line-height: 1em;
    margin-top: 3px;
    
}

#nav li a {
    text-decoration: none;
    display: block;
    padding: 16px;
    font-size: 15px;
    color:#666;
    transition: all 500ms;
}

#nav li a:hover{
    transform: scale(1.2);
}

#nav li a:hover + div {
    transform: scaleX(1);
    transform-origin: bottom center;
}

#nav li a.active {
    color: var(--primary-color);
}

#nav li {
    position: relative;
}

#nav li > div {
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

/*MAIN PAGE*/

main{
    max-width:none;
    background-color:#007FFF99;
    padding:0;
}

#page {
    max-width:900px;
    background-color: #CCE5FF99;
    margin:0 auto;
    height:100%;
    padding:3em;
}



/*FOOTER*/
footer {
    background-color: white;
    display: grid;
    grid-template-columns:1fr 3fr 1fr;
    padding: 1em;
    padding-top: 1.15em;
}

footer #copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    background-color: var(--primary-color);
    border-radius: 50px;
    color: white;
    padding: 0.5em 0.5em;
    font-size: 0.8em;
}

#logo-footer {
    display: flex;
    justify-content: center;
}

#logo-footer img {
    height: 35px;
    width: auto;
}

footer #social ul {
    display: flex;
    justify-content: right;
    list-style: none;
}

footer #social ul li {
    margin-left: 5px;
} 

footer #social ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-decoration: none;
    border-radius: 20px;
    transition: 0.5s;
    margin-right: 7.5px;
    font-size: 13px;
}

footer #social ul li a:hover {
    margin-top: -10px;
    border: 2px solid var(--filler-color);
}
