p {
    color: white;
}

.grid-4byr {
    grid-gap: 40px;
}

.grid-3by {
    grid-gap: 40px;
}

#top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#top img {
    height: 300px;
    width: 500px;
}

#about, #mission {
    background-color: var(--accent-color);
    padding: 10px 30px 0 30px;
    border-radius: 5px;
}

#sections div {
    background-color: var(--accent-color);
    border-radius: 5px;
}

#news i {
    color: var(--filler-color);
    font-size: 80px;
    transition: all 500ms;
}

#news i:hover {
    transform: scale(1.2);
}

#news > div:nth-child(1) {
    text-align: center;
    padding: 30px 0 20px 0;
}

#news > div:nth-child(2) {
    text-align: center;
    padding: 0 10px 10px 10px;
}

#lead i {
    color: var(--filler-color);
    font-size: 80px;
    transition: all 500ms;
}

#lead i:hover {
    transform: scale(1.2);
}

#lead > div:nth-child(1) {
    text-align: center;
    padding: 30px 0 20px 0;
}

#lead > div:nth-child(2) {
    text-align: center;
    padding: 0 10px 10px 10px;
}

#source i {
    color: var(--filler-color);
    font-size: 80px;
    transition: all 500ms;
}

#source i:hover {
    transform: scale(1.2);
}

#source > div:nth-child(1) {
    text-align: center;
    padding: 30px 0 20px 0;
}

#source > div:nth-child(2) {
    text-align: center;
    padding: 0 10px 20px 10px;
}