#page {
    grid-gap: 20px;
}

#names li, #scores li {
    margin-top: 15px;
}

h3 {
    font-size: 25px;
}

#title {
    text-align: center;
    color: white;
    margin: 20px 0 30px 0;
}

#board {
    background-color: var(--accent-color);
    border-radius: 10px;
}
/* 
#names {
    color: white;
    padding: 60px 0 60px 160px;
}

#scores {
    color: white;
    padding: 60px 0 60px 150px;
} */

#user-scores {
    color: white;
    margin: 0 0 30px 0;
}

#user-scores .individual:nth-child(2) div i {
    color: gold;
    margin: 0 0 0 10px;
}

#user-scores .individual:nth-child(3) div i {
    color: silver;
    margin: 0 0 0 10px;
}

#user-scores .individual:nth-child(4) div i {
    color: #CD7F32;
    margin: 0 0 0 10px;
}

.individual {
    display: flex;
    justify-content: space-between;
}

.individual > div {
    display: flex;
}

.individual div:nth-child(2) {
    margin: 0px 160px 0 0;
}

.individual {
    margin: 10px 0 15px 160px;

}

