
.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    background-color: var(--primary-color);
    border-radius: 8px;
    color: white;
    padding: .1em .5em;
}

.user-entries {
    margin: 1.5em;
    background-color: var(--background-color);
    padding: 1.5em;
    border-radius: 8px;
}

.holder {
    display: grid;
    grid-template-columns: auto 1fr;
}

.pfp img {
    border: 2px solid var(--primary-color);
    border-radius: 100px;
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.user-entry {
    display:flex;
    align-items: center;
}

.user-entry h1{
    color: white;
    text-decoration: underline;
    font-size: 30px;
    padding-left: .5em;
}

.user-post p {
    color: white;
    font-size: 12.5px;
    line-height: 1.6em;
    padding:1.5em 0;
}

.user-response ul {
    display: flex;
    justify-content: left;
    list-style: none;
}

.user-response ul li {
    color: white;
    margin-right: 2em;
    font-size: 12px;
}

.user-response ul li a {
    background-color: var(--background-color);
    color: white;
    transition: 0.5s;
    font-size: 13px;
    text-decoration: none;
    margin-right: 1em;
}