@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300;400;500;600;700&display=swap');

.title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 0 50px 0;
}

.title h1 {
    background-color: var(--primary-color);
    border-radius: 8px;
    color: white;
    padding: .1em .5em;
}

.profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

.profile-picture img{
        border: 2px solid var(--primary-color);
        border-radius: 200px;
        height: 300px;
        width: 300px;
        object-fit: cover;
}

.username {
    margin: 0px 50px 0px 0px

}

.bio {
    margin: 0px 0px 0px 50px
}

.user-info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    margin: 30px 0px 0px 0px;
}

.user-info label {
    font-size: 20px;
    font-family: 'Comfortaa', sans-serif;
}

.user-info p {
    font-size: 25px;
    font-family: 'Comfortaa', sans-serif;
}

.save-button {
    display: flex;
    justify-content: right;
    margin: 20px 0 0 0;
}

.save-button button {
    background-color: var(--primary-color);
    border: 2px var(--primary-color) solid;
    border-radius: 8px;
    height: 35px;
    width: 100px;
    transition: .1s;
    color: white;
    font-family: 'Comfortaa', sans-serif;
}

.save-button button:hover {
    border: 2px white solid;
}

.title-activity {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 50px 0 20px 0;
}

.title-activity h1 {
    background-color: var(--primary-color);
    border-radius: 8px;
    color: white;
    padding: .1em .5em;
}

.recent-activity {
    background-color: var(--background-color);
    height: auto;
    width: 800px;
    margin: 0 0 0 0;
    padding: 0 30px 31px 30px;
}

.activity1 h2 {
    color: white;
}